@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 5px #2B426D;
}

a {
  border-radius: 5px #2B426D;
}

p {
  font-family: sans-serif #2B426D;
}


.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #111c1fad;
}

.fp-container .fp-loader {
  top: 45%;
  left: 48%;
  z-index: 10000;
  position: absolute;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item.active {
  z-index: 3;
  color: #fff;
  background-color: #d9230f; 
  border-color: #d9230f;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2B426D;
  background-color: #fff;
  border: 1px solid #eee;
}
    